.content-main {
  flex-grow: 1;
}

.content-main-title {
  margin-top: 0;
  margin-bottom: 25px;
}

.content-main__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 30px;
  row-gap: 50px;
}

@media (max-width: 1200px) {
  .content-main__list-item {
    width: calc((100% - 30px) / 2);
  }
}

@media (max-width: 991px) {
  .content-main {
    width: auto;
  }
}

@media (max-width: 480px) {
  .content-main__list-item {
    width: 100%;
  }
}
